* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-timing-function: cubic-bezier(0, 0.7, 0.58, 1);
            transition-timing-function: cubic-bezier(0, 0.7, 0.58, 1);
}

html,
body {
    width: 100%;
    height: auto;
    font-family: 'PT Serif', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0e0600;
    color: #fff6f0;
    font-weight: 100;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    letter-spacing: 0.14rem;
    line-height: 1.8rem;
    filter: sepia(50%) contrast(120%) saturate(120%) brightness(90%) hue-rotate(-15deg);
}

a, a:link {
    text-decoration: none;
    color: #e2b58b;
}

a, input, button {
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: 0.5s;
}

input, button {
    border: 2px solid rgb(0, 0, 0);
}

input:hover {
    filter: grayscale(100%);
}

a:hover, button:hover {
    filter: grayscale(100%) brightness(70%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}