.User input, .User button {
    font-size: 1.4rem;
    padding: 0.25rem 0.75rem;
}

.User .container {
    margin: 100px 0;
    padding: 0 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    line-height: 3rem;
}

.Login .container {
    align-items: left;
}

.User .display-element {
    text-align: left;
}

.User form {
    margin: 0 0 50px 0;
    width: fit-content;
    line-height: 3rem;
    text-align: left;
}

.User form input,
.User form select {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
}

.User button {
    color: #fff6f0;
}

.User form input[type="checkbox"] {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 50px;
}

#register-button {
    margin-top: 3rem;
}

.alert-text {
    font-size: 2.5rem;
    color: red;
}

.User form input:disabled {
    color: #0e0600;
    background-color: #e2b58b;
}

.User .btn1 {
    background-image: linear-gradient(180deg, rgb(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.6) 100%), url("../assets/texture1.jpg") ;
}

.User .btn2 {
    background-image: linear-gradient(180deg, rgb(0, 0, 0, 0.4) 0%, rgba(0,0,0,0.6) 100%), url("../assets/texture2.jpg") ;
}

.User .btn3 {
    background-image: linear-gradient(180deg, rgb(0, 0, 0, 0.4) 0%, rgba(0,0,0,0.6) 100%), url("../assets/texture2.jpg") ;
    margin: 0 3rem;
}

.User .btn-group {
    display: flex;
    align-content: space-between;
    flex-direction: row;
}

#hero-bg-user {
    background-image: url("../assets/bg3.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(70%) blur(2px);
    position: relative;
}

#hero-text-container-user {
    text-align: center;
    position: absolute;
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
}

.User .hero {
    position: relative;
}

.User h1 {
    font-size: 3.5rem;
    line-height: 6rem;
    font-family: 'Rye', cursive;
}

.Login {
    background-image: url("../assets/bg1.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login .container {
    padding: 5rem 5rem;
    background-color:#0e06009c;
}