.User, .User button {
    font-size: 1.4rem;
    padding: 0.25rem 0.75rem;
}

.User .container {
    margin: 100px 0;
    padding: 0 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    line-height: 3rem;
}

.User form {
    margin: 50px 0;
    width: fit-content;
    line-height: 3rem;
    text-align: left;
}

.User form input,
.User form select {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
}

.User button {
    color: #fff6f0;
}

.User form input[type="checkbox"] {
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0 50px;
}

#register-button {
    margin-top: 3rem;
}

.User .btn1 {
    background-image: linear-gradient(180deg, rgb(0, 0, 0, 0.5) 0%, rgba(0,0,0,0.6) 100%), url("../assets/texture1.jpg") ;
}

.User .btn2 {
    background-image: linear-gradient(180deg, rgb(0, 0, 0, 0.4) 0%, rgba(0,0,0,0.6) 100%), url("../assets/texture2.jpg") ;
}